<div class="primary-container primary-grid backgrounded">
  <div class="header">
    <h1>
      &#x1f1f8;Henry Haller - Professional Web Developer&#x1f1f5;
    </h1>
  </div>
  <div class="middle middle-grid">
    <div class="left-column text-friendly">
      <h2>
        Who is Henry?
      </h2>
      <div class="about">
        <div class='content-section'>
          <h3>
            Professional Experience
          </h3>
          <div class="text-section">
            <p>
              I completed the Le Wagon Coding Academy in Tokyo during the Summer of 2018. It was an invaluable introduction to Full Stack Development on Rails.
            </p>
            <p>
              I made <%= link_to "RSSHub", "https://www.rsshub.online" %>. It's a podcast aggregator. I check it every day.
            </p>
            <p>
              I free-lanced for <%= link_to "Tokyo Hearth", "https://www.rsshub.online" %>. For three months. I helped plan, implement and test their full service housing platform.
            </p>
          </div>
        </div>
        <div class='content-section'>
          <h3>
            Personal Life
          </h3>
          <div class="text-section">
            <p>
              I love traveling. I've been to over a dozen countries.
            </p>
            <p>
              I love playing some games. If you ever want to talk about Civ VI, let me know.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-column text-friendly">
      <ul>
        <li>
          <%= link_to "LinkedIn", "https://www.linkedin.com/in/henry-haller-44756514/" %>
        </li>
        <li>
          <%= link_to "GitHub", "https://github.com/HenryHaller" %>
        </li>
        <li>
          <%= link_to "HackerRank", "https://www.hackerrank.com/henrybhaller" %>
        </li>
        <li>
          <%= link_to "CodeAcademy", "https://www.codecademy.com/henryhaller" %>
        </li>
        <li>
          <%= link_to "Resume", "pdf/henry_haller_developer_resume.pdf" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    All Content Copyright 2019 Henry Haller
  </div>
</div>
<!-- <div id="background">
  <img src="/img/angkor_wat.jpg" class="stretch" alt="" />
</div>
 -->
