<div class="primary-container grid backgrounded">
  <div class="header">
    <span class="flag">&#x1f1fa;&#x1f1f8;</span>
    <div class="header-title">
      <h1>
        Henry Haller
      </h1>
      <h1 class="name-job-seperator">
        ==
      </h1>
      <h1>
        Full Stack Web Developer
      </h1>
    </div>
    <span class="flag">&#x1f1ef;&#x1f1f5;</span>
  </div>

  <div class="about light-background">

    <div class="title1">
      <h1>
        About
      </h1>
    </div>

    <div class="text-section about1">
      <p>
        Welcome to my home page. My name is Henry and I'm a software developer who loves to work on web applications. I've been making friends online since I was a teenager and I've always wanted to work in software development. Ruby on Rails is now my go-to framework because it offers so much out of the box so I can get a lot done really quickly. I've made several websites with Rails already and I'm getting faster every time.
      </p>
      <p>
        I've also traveled to over a dozen countries and driven around the entire United States. I'm native in English but I can have a conversation in French and get by in Spanish and Japanese. I have a degree in Political Science from McGill University in Montr&#xe9;al.
      </p>
    </div>

    <div class="title2">
      <h1>
        Experience
      </h1>
    </div>
    <div class="text-section about2">
      <p>
        I've been coding since I was in High School, but in 2018 I decided to go into software development professionally, so I attended Le Wagon's 9 week Coding Bootcamp in Tokyo Japan. That taught me a lot of very useful skills and ways of thinking about designing websites. I also developed a serious appreciation for Ruby on Rails.
      </p>
      <p>
        Since then I've sharpened my skills by studying on my own, developing my own projects and leveling up on coding challenge sites like <a href="https://www.hackerrank.com/henrybhaller">Hacker Rank.</a> I've also read <a href="https://github.com/getify/You-Dont-Know-JS">You Don't Know Javascript</a> and some selections from <a href="https://github.com/micromata/awesome-css-learning" class="">"Awesome CSS Learning"</a> in order to bring my front-end game to a pro level.
      </p>
    </div>


    <div class="title3">
      <h1>
        Interests
      </h1>
    </div>
    <div class="text-section about3">
      <p>
        I prefer working with GNU/Linux. I like the wide variety of software that Linux offers. Familiarity with Linux also helps a lot when working on cloud deployments. I'm typing this on Linux Mint and the server that sent you this page is a Digital Ocean Linux computer as well. (Technically a Dokku-based droplet. Dokku is a piece of software that makes it very easy to deploy projects and get SSL Certificates.)
      </p>
      <p>
        I also have an interest in History. I took the picture of Angkor Wat that you see as the background of this website. I went there in January of 2019. I love visiting ancient temples and imagining what it would have been like to live when they were being built. I hope to some day visit the Pyramids, Machu Picchu and Chichen Itza.
      </p>
    </div>

  </div>

  <div class="links light-background">

    <div class="connect-title1">
      <h1>
        Connect
      </h1>
    </div>
    <div class="connect1">
      <div class="links-box">
        <%= link_to "https://www.linkedin.com/in/henry-haller-44756514/" do %>
        <div class="connect-link">
          LinkedIn
        </div>
        <% end %>
        <%= link_to "pdf/henry_haller_developer_resume.pdf" do %>
        <div class="connect-link">
          Resume
        </div>
        <% end %>
      </div>
    </div>

    <div class="connect-title2">
      <h1>
        Portfolio
      </h1>
    </div>

    <div class="connect2">
      <div class="links-box">
        <%= link_to "https://rsshub.online" do %>
        <div class="connect-link">
          RSSHub
        </div>
        <% end %>
        <%= link_to "https://github.com/HenryHaller" do %>
        <div class="connect-link">
          GitHub
        </div>
        <% end %>
      </div>
    </div>

    <div class="connect-title3">
      <h1>
        Skills
      </h1>
    </div>

    <div class="connect3">
      <div class="links-box">
        <%= link_to "https://www.hackerrank.com/henrybhaller" do %>
        <div class="connect-link">
          HackerRank
        </div>
        <% end %>

        <%= link_to "https://www.codecademy.com/henryhaller" do %>
        <div class="connect-link">
          CodeAcademy
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="footer">
    All Content Copyright 2019 Henry Haller
  </div>
</div>
<!-- <div id="background">
  <img src="/img/angkor_wat.jpg" class="stretch" alt="" />
</div>
-->
