<div class="primary-container primary-grid backgrounded">
  <div class="header flex-row-between-center">
    <span class="flag">&#x1f1fa;&#x1f1f8;</span>
    <div class="header-title">
      <h1>
        Henry Haller - Full Stack Web Developer
      </h1>
    </div>
    <span class="flag">&#x1f1ef;&#x1f1f5;</span>
  </div>
  <div>    <!-- space maker div -->  </div>
  <div class="middle-grid">

    <div class="middle-left">

      <div class="flex-column-around-center">
        <h2>
          About
        </h2>
      </div>
      <div class="text-section flex-column-around-center">
        <p>
          I love coding!
        </p>
      </div>


      <div class="flex-column-around-center">
        <h2>
          Experience
        </h2>
      </div>

      <div class="text-section flex-column-around-center">
        <p>
          I completed the Le Wagon Coding Academy in Tokyo during the Summer of 2018. It was an invaluable introduction to Full Stack Development on Rails.
        </p>
        <p>
          I made <%= link_to "RSSHub", "https://www.rsshub.online" %>. It's a podcast aggregator. I check it every day.
        </p>
        <p>
          I free-lanced for <%= link_to "Tokyo Hearth", "https://www.rsshub.online" %>. For three months. I helped plan, implement and test their full service housing platform.
        </p>
      </div>

      <div class="flex-column-around-center">
        <h2>
          Interests
        </h2>
      </div>
      <div class="text-section flex-column-around-center">
        <p>
          I love traveling. I've been to over a dozen countries.
        </p>
        <p>
          I love playing some games. If you ever want to talk about Civ VI, let me know.
        </p>
      </div>
    </div>



    <div class="middle-right">
      <div class="flex-column-around-center">
        <h2>
          Connect
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://www.linkedin.com/in/henry-haller-44756514/" do %>
        <div class="connect-link flex-column-around-center">
          LinkedIn
        </div>
        <% end %>


        <%= link_to "pdf/henry_haller_developer_resume.pdf" do %>
        <div class="connect-link flex-column-around-center">
          Resume
        </div>
        <% end %>
      </div>


      <div class="flex-column-around-center">
        <h2>
          Portfolio
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://rsshub.online" do %>
        <div class="connect-link flex-column-around-center">
          RSSHub
        </div>
        <% end %>
        <%= link_to "https://github.com/HenryHaller" do %>
        <div class="connect-link flex-column-around-center">
          GitHub
        </div>
        <% end %>
      </div>

      <div class="flex-column-around-center">
        <h2>
          Skills
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://www.hackerrank.com/henrybhaller" do %>
        <div class="connect-link flex-column-around-center">
          HackerRank
        </div>
        <% end %>

        <%= link_to "https://www.codecademy.com/henryhaller" do %>
        <div class="connect-link flex-column-around-center">
          CodeAcademy
        </div>
        <% end %>
      </div>
    </div>


  </div>
  <div><!-- Empty div for grid --></div>
  <div class="footer flex-column-around-center">
    All Content Copyright 2019 Henry Haller
  </div>
</div>
<!-- <div id="background">
  <img src="/img/angkor_wat.jpg" class="stretch" alt="" />
</div>
-->
