<div class="primary-container primary-grid backgrounded">
  <div class="header flex-row-between-center">
    <span class="flag">&#x1f1fa;&#x1f1f8;</span>
    <div class="header-title">
      <h1>
        Henry Haller - Full Stack Web Developer
      </h1>
    </div>
    <span class="flag">&#x1f1ef;&#x1f1f5;</span>
  </div>
  <div>    <!-- space maker div -->  </div>
  <div class="middle-grid">

    <div class="middle-left">

      <div class="flex-column-around-center">
        <h2>
          About
        </h2>
      </div>
      <div class="text-section flex-column-around-center">
        <p>
          Thank you for visiting my home page! My name is Henry and I'm an American guy from Vermont looking to establish my career in Web Development by expanding my portfolio and networking contacts. I've been dabbling in Web Development for a while. I started using PHP in High School. Then I dabbled in Python, and later discovered Ruby on Rails.
        </p>
        <p>
          I'm looking for work either in Japan or remotely. My core strengths are Backend/API and Full Stack development in Rails. I'm also interested in ReactJS and other Javascript Frameworks. Please check on my CodeAcademy, HackerRank, and GitHub profiles to see my skill level and examples of my work.
        </p>
      </div>


      <div class="flex-column-around-center">
        <h2>
          Experience
        </h2>
      </div>

      <div class="text-section flex-column-around-center">
        <p>
          I completed the Le Wagon Coding Academy in Tokyo during the Summer of 2018. It was an invaluable introduction to Full Stack Development on Rails. This marked my formal embarkation on a career in Web Development, but because of my previous dabblings I was often asked if I had prior experience in software development.
        </p>
        <p>
          After finishing the Le Wagon Coding Academy I created a hobby website to track recent episodes of my favorite podcasts. I'm really excited to work on another cool project!
        </p>
      </div>

      <div class="flex-column-around-center">
        <h2>
          Interests
        </h2>
      </div>
      <div class="text-section flex-column-around-center">
        <p>
          I am a huge fan of GNU/Linux. I've been using it for years. I try to do as much of my work on GNU/Linux as possible. I've also bought and tinkered with Adafruit's minicomputer, the Raspberry Pi which is very fun. I love using the command line, my favorite shell is zsh.
        </p>
        <p>
          I also love playing video games. I've tried many but the ones I keep coming back to are Civilization, Warcraft III and the classic RPG adventure Baldur's Gate I.
        </p>
      </div>
    </div>



    <div class="middle-right">
      <div class="flex-column-around-center">
        <h2>
          Connect
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://www.linkedin.com/in/henry-haller-44756514/" do %>
        <div class="connect-link flex-column-around-center">
          LinkedIn
        </div>
        <% end %>


        <%= link_to "pdf/henry_haller_developer_resume.pdf" do %>
        <div class="connect-link flex-column-around-center">
          Resume
        </div>
        <% end %>
      </div>


      <div class="flex-column-around-center">
        <h2>
          Portfolio
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://rsshub.online" do %>
        <div class="connect-link flex-column-around-center">
          RSSHub
        </div>
        <% end %>
        <%= link_to "https://github.com/HenryHaller" do %>
        <div class="connect-link flex-column-around-center">
          GitHub
        </div>
        <% end %>
      </div>

      <div class="flex-column-around-center">
        <h2>
          Skills
        </h2>
      </div>
      <div class="flex-column-around-center">
        <%= link_to "https://www.hackerrank.com/henrybhaller" do %>
        <div class="connect-link flex-column-around-center">
          HackerRank
        </div>
        <% end %>

        <%= link_to "https://www.codecademy.com/henryhaller" do %>
        <div class="connect-link flex-column-around-center">
          CodeAcademy
        </div>
        <% end %>
      </div>
    </div>


  </div>
  <div><!-- Empty div for grid --></div>
  <div class="footer flex-column-around-center">
    All Content Copyright 2019 Henry Haller
  </div>
</div>
<!-- <div id="background">
  <img src="/img/angkor_wat.jpg" class="stretch" alt="" />
</div>
-->
